[submodule "NEPs"]
	path = NEPs
	url = git@github.com:thor314/NEPs.git
[submodule "near-autonomy-poc"]
	path = near-autonomy-poc
	url = git@github.com:thor314/near-autonomy-poc.git
[submodule "near-credentials"]
	path = near-credentials
	url = git@github.com:thor314/near-credentials.git
[submodule "nft-market"]
	path = nft-market
	url = git@github.com:thor314/nft-market.git
[submodule "near-no-std-template"]
	path = near-no-std-template
	url = git@github.com:thor314/near-no-std-template.git
[submodule "near-bugs-and-examples"]
	path = near-bugs-and-examples
	url = git@github.com:thor314/near-bugs-and-examples.git
[submodule "near-nft-standards"]
	path = near-nft-standards
	url = git@github.com:thor314/near-nft-standards.git
[submodule "FungibleToken"]
	path = FungibleToken
	url = git@github.com:thor314/FungibleToken.git
